html,
body,
#root {
    box-sizing: border-box;
    height: 100%;
}

html {
      background-image: linear-gradient(
        to left bottom, #7085a4, #628fa8, #5a97a5, #5e9f9d, #6da491);
    }

#root {
    display: flex;
    flex-direction: column;
}

.main-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.main-content {
    margin: 5vh 1rem;
    padding: 40px;
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    background-color: #F6F7F9;
    box-shadow: 
        0 0 0 1px rgba(17,20,24,.1), 
        0 2px 4px rgba(17,20,24,.2), 
        0 8px 24px rgba(17,20,24,.2);
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.quiz {
    min-height: 300px;    
}

.quiz-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.quiz-panel-contents {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.quiz-panel-text {
    flex: 1;
    padding: 2rem;
    position: relative;
}

.quiz-panel-cover {
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 z-index: 20;
 backdrop-filter: blur(6px);
}